<footer class="footer py-2">
    <div class="container-lg">

        <div class="row align-items-center">
            <!--- Columna izquierda -->
            <div class="col-md-6">
                <div class="footer-col">
                    <address class="mb-0">
                        <strong>Ajuntament de Vallgorguina</strong><br>
                        Plaça de la Vila, 4<br>
                        08471 Vallgorguina<br>
                        Tel. 93 867 91 25
                    </address>
                </div>
            </div>

            <!--- Columna derecha -->
            <div class="col-md-6">
                <div class="footer-col text-md-end">
                    <p class="mb-2 fw-bold">Xarxes Socials</p>
                    <div class="d-flex justify-content-md-end justify-content-center">
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-square-x-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 footer-legal">
            <div class="col-12 text-center">
                <p class="fw-bold mb-0">© 2026 Ajuntament de Vallgorguina</p>
            </div>
        </div>

    </div>
</footer>
