<footer class="footer py-2">
    <div class="container-lg">

        <div class="row align-items-center">
            <!--- Columna izquierda -->
            <div class="col-md-6">
                <div class="footer-col">
                    <address class="mb-0">
                        <strong>Ajuntament de Vallgorguina</strong><br>
                        Plaça de la Vila, 4<br>
                        08471 Vallgorguina<br>
                        Tel. 93 867 91 25
                    </address>
                </div>
            </div>

            <!--- Columna derecha -->
            <div class="col-md-6">
                <div class="footer-col text-md-end">

                    <!--- XARXES SOCIALS -->
                    <p class="mb-2 fw-bold">Xarxes Socials</p>

                    <div class="d-flex justify-content-md-end justify-content-center">

                        <!--- Facebook -->
                        <a href="https://www.facebook.com/vallgorguina" class="social-icon" target="_blank"
                            rel="noopener" aria-label="Facebook Ajuntament de Vallgorguina">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <!--- YouTube -->
                        <a href="https://www.youtube.com/channel/UCKt1k_KosaD4sLyrKnNYkBA" class="social-icon" target="_blank"
                            rel="noopener" aria-label="YouTube Ajuntament de Vallgorguina">
                            <i class="fa-brands fa-youtube"></i>
                        </a>

                        <!--- Instagram -->
                        <a href="https://www.instagram.com/ajvallgorguina/" class="social-icon" target="_blank"
                            rel="noopener" aria-label="Instagram Ajuntament de Vallgorguina">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>

                        <!--- WhatsApp -->
                        <a href="https://wa.me/34604573471?text=Hola! Endavant..." class="social-icon" target="_blank" rel="noopener"
                            aria-label="WhatsApp Ajuntament de Vallgorguina">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-4 footer-legal">
            <div class="col-12 text-center">
                <p class="fw-bold mb-0">© 2026 Ajuntament de Vallgorguina</p>
            </div>
        </div>

    </div>
</footer>