<div class="container p-5" id="gestio">
    <h2 class="text-center"> Gestió d'espais</h2>
    <hr class="mb" 5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">       
                <div class="card-body">
                    <i class="fa-solid fa-unlock-keyhole"></i>
                    <h5 class="card-title">Gestió de Claus</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ea sint
                        reiciendis sequi quos. Asperiores.</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                    
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">                                   
                <div class="card-body">
                    <i class="fa-solid fa-hand-sparkles"></i>
                    <h5 class="card-title">Gestió deneteja setmanal</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ea sint
                        reiciendis sequi quos. Asperiores.</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">                                   
                <div class="card-body">
                    <i class="fa-solid fa-spray-can-sparkles"></i>
                    <h5 class="card-title">Gestio productes neteja</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ea sint
                        reiciendis sequi quos. Asperiores.</p>
                    <a href="#" class="nav-link text-primary">Link aquí</a>
                </div>
            </div>
        </div>

        <!-- //Si queremos agregar más tarjetas de proyecto -->
    </div>
    


</div>