<div class="container p-3" id="gestio">
    <h2 class="text-center hero-title-secundari"> Gestió d'espais</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body card-body-compact d-flex align-items-center justify-content-center gap-3">
                    <i class="fa-solid fa-unlock-keyhole card-icon"></i>
                    <a href="#" class="btn btn-outline-primary btn-sm">
                        Gestió de claus
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body card-body-compact d-flex align-items-center justify-content-center gap-3">
                    <i class="fa-solid fa-hand-sparkles card-icon"></i>
                    <a href="{{ url_for('neteja') }}" class="btn btn-outline-primary btn-sm">
                        Neteja setmanal
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body card-body-compact d-flex align-items-center justify-content-center gap-3">
                    <i class="fa-solid fa-clipboard-list card-icon"></i>
                    <a href="#" class="btn btn-outline-primary btn-sm">
                        Todo-List
                    </a>
                </div>
            </div>
        </div>
        <!-- //Si queremos agregar más tarjetas de proyecto -->
    </div>



</div>