<!-- *Sección de bienvenida -->

<section class="bg-light" id="home">
    <div class="container-lg py-3">
        <div class="row flex-lg-row-reverse align-items-center g-2 py-2">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='img/vallgorguina_00.jpg') }}"
                    class="d-block mx-lg-auto img-fluid img-soft img-animate" alt="Espais públics Vallgorguina" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h1 class="display-4 hero-title">Espais públics Vallgorguina.</h1>
                <hr class="my-4">
                <p class="fs-5">Aquí hi trobaràs tot allò relacionat amb els espais públics de Vallgorguina.</p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button">Contacta’m</a>
            </div>
        </div>
    </div>
</section>