<!-- *Menú de navegación -->

<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            Gestió d'espais Vallgorguina
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- INICI -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#home">
                        Inici
                    </a>
                </li>

                <!-- GESTIÓ -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#gestio">
                        Gestió
                    </a>
                </li>

                <!-- NETEJA -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('neteja') }}">
                        Neteja
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>